
$[ if this.name_header is defined ]$
\name[[ this.name_header ]]
$[ elif name_header is defined ]$
\name[[ name_header ]]
$[ else ]$
\name{}{[[ short_name ]]}
$[ endif ]$

\position{[[ position ]]}

\address{[[ address ]]}

\mobile{[[ phone_number ]]}

\email{[[ email ]]}

\homepage{[[ website ]]}

\github{[[ github ]]}

\linkedin{[[ linkedin ]]}
