$[ do require('this.source', 'this.title') -]$
$[ set full_content = get(this.source) -]$

%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{[[ this.title ]]}


%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cventries}

$[ for item in full_content ]$
  $[- if this.source in content ]$
    $[- if not item.name in content[this.source] ]$
      $[- continue ]$
    $[- endif ]$
  $[- endif ]$
\cventry{[[ item.desc ]]}{[[ item.header ]]}{[[ item.location ]]}{[[ item.dates ]]}
{
  \begin{cvitems}
    $[- if item.content is defined ]$
      $[- for i in item.content ]$
        \item {[[ i ]]}
      $[- endfor ]$
    $[- endif ]$
  \end{cvitems}
}
$[ endfor ]$

\end{cventries}
