$[ do require('this.skills', 'this.title') ]$

%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{[[ this.title ]]}


%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cvskills}

$[ for skill in this.skills ]$
  \cvskill
    {[[ skill.group ]]}
    {[[ skill.content ]]}
$[ endfor ]$

\end{cvskills}