$[ do require('this.title') ]$

%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{[[ this.title ]]}


%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cvskills}

$[ for group in content.skills ]$
  $[- set group_items = [] ]$
  $[- for k, v in skills.items() ]$
    $[- if k in group.content ]$
      $[- do group_items.append(v) ]$
    $[- endif ]$
  $[- endfor ]$
  \cvskill{[[ group.name ]]}{[[ group_items|join(', ') ]]}
$[ endfor ]$

\end{cvskills}
