$[ do require('this.content', 'this.title') ]$

%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{[[ this.title ]]}


%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cvparagraph}

[[ this.content ]]

\end{cvparagraph}