$[ do require('this.title') ]$

%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{[[ this.title ]]}


%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cvparagraph}

[[ this.content|default(summary, true) ]]

\end{cvparagraph}
